*.min.css
assets/css/main.scss
assets/plotly/demo.html
assets/json/resume.json
_pages/about.md
_sass/_base.scss
_layouts/about.liquid
_layouts/bib.liquid
_layouts/cv.liquid
_includes/header.liquid
_includes/projects_horizontal.liquid
_includes/projects.liquid
_includes/resume/work.liquid
_includes/resume/education.liquid
_news/announcement_2.md